---
interface Props {
  title: string
  description?: string
}

import favicon from '../../public/favicon.svg'

const { title, description } = Astro.props

const siteLinks = [
  {
    href: '/',
    title: 'Home',
  },
  {
    href: '/reading-list',
    title: 'Reading List',
  },
  {
    href: '/blog',
    title: 'Blog',
  },
]
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <header>
      <ul>
        {
          siteLinks.map((link) => (
            <li>
              <a href={link.href}>{link.title}</a>
            </li>
          ))
        }
      </ul>
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
